.transaction-header, 
.transaction-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 16px;
  align-items: center;
  padding: 10px;
}

.transaction-header {
  border-bottom: 2px solid #333;
}

.transaction-list {
  border-bottom: 1px solid #ddd;
}

.transaction-header p,
.transaction-list p {
  margin: 0;
}

.delete-button{
  background-color: red;
}

.edit-button{
  background-color: green;
}
