.transaction-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title,
.form-amount,
.form-type,
.form-category,
.form-date{
  width: 400px;
}

.form-date{
  margin-bottom: 30px;
}

.isvalid-form{
  font-size: 12px;
  margin-bottom: 20px;
}





